* {
  box-sizing: border-box;
}

body {
  overflow: hidden;

  background-color: #455a64;
  font-family: 'Open Sans', sans-serif;
}

html {
  height: 100%;
}

body {
  height: 100%;

  background-color: #455a64;
  font-family: 'Open Sans', sans-serif;
}

input, 
button {
  outline: none;
}

main {
  height: 100%;
}

header {
  vertical-align: top;

  display: inline-block;
  margin: 15% auto 30px auto;
  min-width: 400px;
  padding: 0 30px;
  width: 50%;

  font-weight: 800;
}

header h1 {
  margin-bottom: 45px;

  color: #fff;
  font-size: 4.5vw;
  text-align: center;
}

header img {
  display: inline;
  height: 4vw;
}

#link-form input {
  display: block;
  height: 45px;
  margin: 10px auto 50px;
  padding-left: 10px;
  width: 75%;

  font-size: 1.7em;
}

#link-form input::placeholder {
  color: #BBBDBF;
}


#enter-button,
#clear-read {
  border: none;
  border-radius: 0px;
  display: block;
  height: 40px;
  margin: auto;
  width: 75%;
  
  background-color: #ffc107;
  color: #fff;
  cursor: pointer;
  font-size: 1.25em;
  font-weight: 800;
  text-align: center;
}

#clear-read {
  display: none;
  margin: 10px auto;
}


#enter-button:hover {
  background-color: #ffd773;
}

#enter-button:disabled {
  background-color: #cfd8dc;
  cursor: auto;
}

#enter-button.error {
  background-color: #F05A28;
  border: 2px solid #fff;
}

#counter-wrap {
  margin: 30px auto;
  width: 100px;
}

#counter-wrap h2 {
  color: #ffc107;
  font-weight: 800;
  text-decoration: underline;
  font-size: 1.063em;
}

#counter-wrap ul li {
  margin: 5px 0px;
  color: #fff;
  font-weight: 400;
}

#counter-wrap ul li span {
  color: #ffc107;
}

#bookmark-wrap {
  position: absolute;
  right: 0px;

  display: inline-block;
  height: 100%;
  overflow-y: auto;
  width: 50%;

  background-color: #cfd8dc;
}

.bookmark {
  position: relative;

  border: 2px solid #607D8B;
  display: block;
  margin: 10px;
  padding: 10px 10px 3px;

  background-color: white;
}

.bookmark h4 {
  color: #455A64;
  font-weight: 800;
  font-size: 1.438em;
  padding-bottom: 5px;
}

.bookmark a {
  color: #607D8B;
  text-decoration: underline;
  text-decoration-color: #f2f4f4;
  line-height: 1.875em;
}

.bookmark button {
  border: none;

  color: #455A64;
  cursor: pointer;
  background-color: transparent;
  text-decoration: underline;
  text-decoration-color: #F2F4F4;
  font-size: 0.938em;
}

.bookmark hr {
  color: #CFD8DC;
}

.bookmark .delete-bookmark-button {
  position: absolute;
  right: 10px;
}

.bookmark a:hover,
.bookmark button:hover {
  color: #455A64;
  font-weight: 800;
  text-decoration-color: #FFC107;
}

.bookmark .delete-bookmark-button:hover {
  font-weight: 400;
  text-decoration-color: #FFC107;
}

.bookmark #form-wrap {
  width: 50%;
}

.bookmark.read {
  background-color: #F2F4F4;
}

.bookmark.read a {
  text-decoration-color: #CFD8DC;
}

.bookmark.read .read-button {
  color: #F05A28;
  font-weight: 800;
  text-decoration: none;
}

@media screen and (max-width : 865px) {
  header {
    display: block;
    margin: 30px auto;
    width: 100%;
  }

  header h1 {
    margin-bottom: 30px;
    
    font-size: 1.75em;
  }

  header img {
    height: 28px;
  }

  #link-form input {
    margin: 0px auto 30px;
    width: 50%;
  }

  #clear-read,
  #enter-button {
    width: 50%;
  }

  #bookmark-wrap {
    display: block;
    width: 100%;
  }
}

@media screen and (max-width : 650px) {
  #counter-wrap {
    width: 75%;

    text-align: center;
  }

  #counter-wrap ul li {
    display: inline-block;
    margin: 5px 10px;
  }

   #enter-button,
   #link-form input {
    width: 100%;
  }

  #clear-read {
    width: 85%;
  }

  #bookmark-wrap {
    position: fixed;
    bottom: 0;

    height: 45%;
  }
}
